; [submodule "dotbot"]
	; path = dotbot
	; url = https://github.com/anishathalye/dotbot
[submodule "zsh/plugins/dircolors-solarized"]
	path = zsh/plugins/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto
